<p class="mt-3 mb-1" [innerHTML]="question.question"></p>
<div>
  <span class="me-2" *ngFor="let answer of question.answers; index as i">
    <span
      class="btn mt-1 hover-disable"
      *ngIf="showAnswers; else showQuestions"
      [innerHTML]="answer"
      [ngClass]="{
        'btn-outline-success': !checkScore(answer),
        'btn-outline-danger': checkScore(answer),
        active: shouldBeSelected(answer),
        'hover-disable': !shouldBeSelected(answer)
      }"
    ></span>
    <ng-template #showQuestions>
      <input
        type="radio"
        class="btn-check"
        [name]="'answer_' + question.id"
        [id]="'answer_' + question.id + '_' + i"
        autocomplete="off"
      />
      <label
        class="btn mt-1"
        [for]="'answer_' + question.id + '_' + i"
        [innerHTML]="answer"
        [ngClass]="{
          'btn-outline-success': !checkScore(answer),
          'btn-outline-danger': checkScore(answer),
          active: shouldBeSelected(answer)
        }"
        (click)="onSelectAnswer(answer)"
      ></label>
    </ng-template>
  </span>
</div>
